# 2.3B: SOLUTIONS

### Day 2

# Pandas At Work

<img src = "images/logo.jpg" width="100" align="left">

<br><br>
Ram Narasimhan

<a id="section_ID"></a>
# Solutions

# <div class="alert alert-block alert-warning"> 0. Read the data into a `Pandas` dataframe</div>

## Notebooks/data/
# From the `data` directory, read `movies.csv`

In [1]:
import pandas as pd # load the Module called pandas, but call it pd

In [2]:
df = pd.read_csv("data/movies.csv") #the path is very important
#In this case, it is looking at a folder called data from where this Notebook was started...

In [4]:
df.head() # Head by default will print the first 5 rows

,title,year,length,budget,rating,votes,r1,r2,r3,r4,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
0,$,1971,121,NaN,6.4,348,4.5,4.5,4.5,4.5,...,4.5,4.5,NaN,0,0,1,1,0,0,0
1,$1000 a Touchdown,1939,71,NaN,6.0,20,0.0,14.5,4.5,24.5,...,4.5,14.5,NaN,0,0,1,0,0,0,0
2,$21 a Day Once a Month,1941,7,NaN,8.2,5,0.0,0.0,0.0,0.0,...,24.5,24.5,NaN,0,1,0,0,0,0,1
3,"$40,000",1996,70,NaN,8.2,6,14.5,0.0,0.0,0.0,...,34.5,45.5,NaN,0,0,1,0,0,0,0
4,"$50,000 Climax Show, The",1975,71,NaN,3.4,17,24.5,4.5,0.0,14.5,...,0.0,24.5,NaN,0,0,0,0,0,0,0

In [8]:
df.shape[1]

24

# <div class="alert alert-block alert-warning"> 1. What is the *mean* and the *median* number of votes a movie gets? </div>

In [12]:
print(df['votes'].mean())
print(df['votes'].median())

632.1303837517861
30.0

# <div class="alert alert-block alert-warning"> 2. How many *Comedies* were made in 2004? </div>

In [34]:
year_condition = df['year'] == 2004
colname = 'Comedy'
genre_condition = (df[colname]==1)
df[year_condition & genre_condition].shape[0]
year_condition.sum()

1945

In [16]:
df.describe()

,year,length,budget,rating,votes,r1,r2,r3,r4,r5,...,r8,r9,r10,Action,Animation,Comedy,Drama,Documentary,Romance,Short
count,58788.000000,58788.000000,5.215000e+03,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,...,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000,58788.000000
mean,1976.133582,82.337875,1.341251e+07,5.932850,632.130384,7.014382,4.022377,4.721159,6.374847,9.796693,...,13.875995,8.954208,16.854018,0.079744,0.062768,0.293784,0.371011,0.059060,0.080697,0.160883
std,23.735125,44.347717,2.335008e+07,1.553031,3829.621413,10.936759,5.960056,6.451629,7.586141,9.733612,...,11.316963,9.440597,15.650722,0.270899,0.242547,0.455498,0.483080,0.235738,0.272371,0.367426
min,1893.000000,1.000000,0.000000e+00,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1958.000000,74.000000,2.500000e+05,5.000000,11.000000,0.000000,0.000000,0.000000,0.000000,4.500000,...,4.500000,4.500000,4.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1983.000000,90.000000,3.000000e+06,6.100000,30.000000,4.500000,4.500000,4.500000,4.500000,4.500000,...,14.500000,4.500000,14.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1997.000000,100.000000,1.500000e+07,7.000000,112.000000,4.500000,4.500000,4.500000,4.500000,14.500000,...,24.500000,14.500000,24.500000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,2005.000000,5220.000000,2.000000e+08,10.000000,157608.000000,100.000000,84.500000,84.500000,100.000000,100.000000,...,100.000000,100.000000,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# <div class="alert alert-block alert-warning"> 3. What fraction of movies are rated over 9.0? </div>

In [35]:
df.head()

,title,year,length,budget,rating,votes,r1,r2,r3,r4,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
0,$,1971,121,NaN,6.4,348,4.5,4.5,4.5,4.5,...,4.5,4.5,NaN,0,0,1,1,0,0,0
1,$1000 a Touchdown,1939,71,NaN,6.0,20,0.0,14.5,4.5,24.5,...,4.5,14.5,NaN,0,0,1,0,0,0,0
2,$21 a Day Once a Month,1941,7,NaN,8.2,5,0.0,0.0,0.0,0.0,...,24.5,24.5,NaN,0,1,0,0,0,0,1
3,"$40,000",1996,70,NaN,8.2,6,14.5,0.0,0.0,0.0,...,34.5,45.5,NaN,0,0,1,0,0,0,0
4,"$50,000 Climax Show, The",1975,71,NaN,3.4,17,24.5,4.5,0.0,14.5,...,0.0,24.5,NaN,0,0,0,0,0,0,0

In [45]:
(df['rating'] > 9)
numerator = (df['rating'] > 9.0).sum() # Number of movies rated over 9
denominator = len(df) #total number of movies
frac = numerator/denominator * 100
print(f'{frac:.2f}% of all movies are rated over 9')
#print(numerator, denominator)
#frac

print(f'Out of {denominator} movies, {numerator} were rated over 9')

1.37% of all movies are rated over 9
Out of 58788 movies, 808 were rated over 9

In [ ]:
rating_condition = df['rating'] > 9.0
rating_condition
len(df[rating_condition]) #keep only rows that match rating condition
#df[rating_condition].shape # explain 
#len(df[rating_condition])/len(df)

In [ ]:
fraction = len(df[rating_condition])/len(df) * 100
print(f'{fraction:.2f} %')

# <div class="alert alert-block alert-warning"> 4. Which movie had the highest Budget *ever?* </div>

In [46]:
df.head()

,title,year,length,budget,rating,votes,r1,r2,r3,r4,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
0,$,1971,121,NaN,6.4,348,4.5,4.5,4.5,4.5,...,4.5,4.5,NaN,0,0,1,1,0,0,0
1,$1000 a Touchdown,1939,71,NaN,6.0,20,0.0,14.5,4.5,24.5,...,4.5,14.5,NaN,0,0,1,0,0,0,0
2,$21 a Day Once a Month,1941,7,NaN,8.2,5,0.0,0.0,0.0,0.0,...,24.5,24.5,NaN,0,1,0,0,0,0,1
3,"$40,000",1996,70,NaN,8.2,6,14.5,0.0,0.0,0.0,...,34.5,45.5,NaN,0,0,1,0,0,0,0
4,"$50,000 Climax Show, The",1975,71,NaN,3.4,17,24.5,4.5,0.0,14.5,...,0.0,24.5,NaN,0,0,0,0,0,0,0

In [47]:
df['budget'].max()

200000000.0

# We know the budget, but we don't know WHICH movie had this budget...

## We have to find the row to get the movie details

In [54]:
max_amount = df['budget'].max()
condition = (df['budget'] == max_amount) #True only if the budge matches that max-amount
df[condition]['title']
#max_amount
#condition.sum()

48517    Spider-Man 2
52347         Titanic
Name: title, dtype: object

In [55]:
df['year'].min()

1893

![Questions](images/questions.png)